<div class="grid grid-cols-2 align-center content-center gap-2 mt-10 mb-10">
    <div class="flex flex-wrap flex-col align-center content-center gap-2">
        <p class="text-5xl font-thin">Holaaaaaa</p>
        <p class="text-5xl font-light">Holaaaaaa</p>
        <p class="text-5xl font-normal">Holaaaaaa</p>
        <p class="text-5xl font-medium">Holaaaaaa</p>
        <p class="text-5xl font-semibold">Holaaaaaa</p>
        <p class="text-5xl font-bold">Holaaaaaa</p>
        <p class="text-5xl font-extrabold">Holaaaaaa</p>
        <p class="text-5xl font-black">Holaaaaaa</p>
    </div>
    <div class="flex flex-wrap flex-col align-center content-center gap-2">
        <p class="text-5xl font-thin">Holaaaaaa</p>
        <p class="text-5xl font-light">Holaaaaaa</p>
        <p class="text-5xl font-normal">Holaaaaaa</p>
        <p class="text-5xl font-medium">Holaaaaaa</p>
        <p class="text-5xl font-semibold">Holaaaaaa</p>
        <p class="text-5xl font-bold">Holaaaaaa</p>
        <p class="text-5xl font-extrabold">Holaaaaaa</p>
        <p class="text-5xl font-black">Holaaaaaa</p>
    </div>
</div>

<div class="flex justify-center pt-30 pb-30" style="background-color: rgba(12, 12, 12, 1);">
    <p class="text-white text-9xl font-normal">Holaaaaaa</p>
</div>